//scss
.tree-map-container {
  width: 100%; 
  position: relative;

  .tree-back {
    position: absolute;
    right: 0px;
    top: -38px;
  }

  text {
    fill: white;
    font-size: 17px;
    
    tspan:nth-child(2) {
      font-size: 23px;
    }
  }
} 