'use strict';

import React from 'react';
import ReactDom from 'react-dom';
import <%=componentName %> from '../../src/components/<%=componentName %>/<%=componentName %>';

export class App extends React.Component {
  constructor(props) {
    super(props);
  }

  render() {
    return (
      <div>
        <h1><%=componentName %></h1>
        <<%=componentName %>/>
      </div>
    );
  }
}

ReactDom.render(<App/>, document.getElementById('app'));