<!DOCTYPE html>
<html>
<head>
  <title><%= componentName %></title>
  <link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>
<div id='app'></div>
<script type="text/javascript" src='./bundle.js'></script>

</body>
</html>