//scss
.partition-chart-container {
   .node rect {
    fill: #ddd;
  }

  .node text {
    font-size: 10px;
    fill: white;
  }

  .node tspan:last-child {
    font-size: 9px;
    fill-opacity: 0.8;
  }

  .node--internal text {
    font-weight: bold;
  }

  .node--leaf rect {
    fill-opacity: 0.6;
  }
}