//scss
.table-chart-container {
  table {
    width: 100%;
      td {
        padding: 2px;
        border: 2px solid rgba(0, 0, 0, 0.15);
        text-align: center;
      }  
  }

  .table-header {
    tr {
      td {
        background: #187ecc;
        color: white;
        padding: 8px 0;
        border-color: transparent;
      }
    }
  }

  .table-wrapper {
    max-height: 500px;
    overflow: auto;
    
    table {
      tr {
        width: 100%;  
      }

      td.total {
        text-align: right;
      }
    
      tbody {
        font-size: 0.75em;
      }
    }
  }
}
