//scss
.legend-container {
  .legend-item {
    float: left;
    padding-left: 21.5px;
    padding-right: 5px;
    transition: opacity 0.3s ease;
    width: 100%;
    text-align: left;

    @include breakpoint($mobile) {
      width: 50%;
    }

    @include breakpoint($tablet) {
      width: 33.333%;
    }

    @include breakpoint($tablelet-landscape) {
      width: 25%;
    }

    @include breakpoint($desktop) {
      width: 20%;
    }

    &:hover {
      .legend-sq {
        border: 1px solid black;
      }
    }

    .legend-sq {
      width: 15px;
      height: 15px;
      margin-top: 2.5px;
      margin-left: -19px;
      float: left;
      border-radius: 50%;
    }
  }  
}
