import React from 'react';
import PropTypes from 'prop-types';
import * as d3 from "d3";

class <%= componentName %> extends React.Component {  
  constructor(props) {
    super(props);
  }

  render() {
    return (
      <div><%= componentName %></div>
    );
  }
}

export default <%= componentName %>
